<div class="col-xs-3">
  <div class="panel panel-default">
    <div class="panel-heading">Group <%= i %></div>
    <div class="panel-body">
      <% for country in %w[Brazil Croatia Mexico Cameroon] %>
      <div><%= country %></div>
      <% end %>
    </div>
  </div>
</div>
