<div class="col-xs-3">
  <div class="panel panel-default">
    <div class="panel-heading">Group <%= group %></div>
    <div class="panel-body">
      <div class="group-sort">
        <% teams.each do |team| %>
          <div class="group-country">
            <%= team_with_flag(team) %>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
