<h1>My Points: <b><%= current_user.points %></b></h1>

<p>
<% if current_user.approved? %>
  Your bracket has been <span class="text-success">approved</span>! Head over to the Leaderboard to see how you rank.
<% else %>
  Your bracket approval is <span class="text-info">pending</span>. You'll be a part of the leaderboard once it has been approved.
<% end %>
</p>

<%= render partial: 'welcome/bracket_table', locals: {bracket: current_user.bracket} %>
